
<div class="prototype-content-wrapper">
    <h1 class="prototype-heading">
        PROTOTYPE PAGE HEAD OF DEPARTMENT
    </h1>
    <div class="flexbox-panel">
        <mat-card class="cards" [routerLink]="'/hodstarter'">
            <mat-card-title>Get Started</mat-card-title>
            <mat-card-content>Get started by importing all Data into the Database. From there on you can take further actions to initiate the LFVT process, like setting a deadline.</mat-card-content>
        </mat-card>
        <mat-card class="cards" [routerLink]="'/teacherlist'">
            <mat-card-title>Teacher List</mat-card-title>
            <mat-card-content>Here you can see a list with all of the teachers and their status on wether they have already uploaded their wishes, if they are in the process of doing it or if they haven't even started. From there on you can also see the finished forms of individual teachers, as well as message them about problems with their forms.</mat-card-content>
        </mat-card>
        <mat-card class="cards" [routerLink]="'/'">
            <mat-card-title>Finalize</mat-card-title>
            <mat-card-content>Finalize the process by freezing all features and sending a message to all teachers with their time table for the next year.</mat-card-content>
        </mat-card>
        
    </div>
    
</div>

